html {
	width: 100%; padding : 0;
	margin: 0;
	border: 0;
	display: inline;
	box-sizing: border-box;
	padding: 0;
}

body {
	width: 100%; padding : 0;
	margin: 0;
	border: 0;
	display: inline; box-sizing : border-box;
	box-sizing: border-box;
	padding: 0;
}

div {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

header {
	position:fixed;
	width: 100%;
	height: 3em;
	background-color: #F0F0F0;
	box-shadow:inset 0px -1px 0px 0px #888;
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

header div{
	float:right;
	height:100%;
}

div.button{
	border-left:1px solid #888;
	border-rigth:1px solid #555;
	padding-left:4px;
	padding-right:4px;
}

#title {
	font-size:2em;
	font-weight: bold;
	text-align:center;
	padding-top:.15em;
}

#settings{
	height:3em;
	width:3em;
	background-image:url("settings.png");
	background-size: cover;
}

.friendList{
	padding:5px;
	padding-top:3em;
}

.friendBox {
	width:100%;
	border-top:1px solid #888;
	font-size:1.5em;
	padding-right:10px;
	
}


.friendText{
	margin:10px 0px 10px 5px;
}

div.friendImg{
	background-image:url("person.png");
	width:2em;
	height:2em;
	background-size:contain;
}

#login{
	padding-top:3em;
}

#loginID{
	width:100%;
	font-size:1.5em;
	background-color:#fafafa;
	margin:10px 0 10px 0;	
	border-radius:5px;
	border:1px solid black;
}

#loginButton{
	width:100%;
	background-color:lightgreen;
	padding:10px;
	font-size:2em;
	text-align:center;
	border-radius:5px;
	margin-top:33%;
}

.fr{
	float:right;
}

.fl{
	float:left;
}

.margin{
	padding:5px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
